.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
	color: white;
	padding: 0 3rem;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.App-link {
	color: #61dafb;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.apiInput {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	margin: 8px 0;
	outline: none;
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.app-info {
	border: 1px solid #535353;
	text-align: left;
	width: 100%;
	white-space: normal;
	border-radius: 18px;
	font-size: 14px;
	padding: 20px;
}

.text-container {
	border: 1px solid #535353;
	text-align: left;
	white-space: normal;
	border-radius: 18px;
	font-size: 14px;
	padding: 20px;
	flex: 1;
	height: 80vh;
}
